body,
html {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background: #222;
    width: 100%;
    height: 100vh;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

div.wrapper {
    display: flex;
}

nav {
    background: #ccc;
    flex: 1;
    height: 100vh;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav>img {
    margin: 5px;
    width: 90%;
}

nav>span.verti-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 24pt;
    transform: rotate(180deg);
    margin-top: 15px;
}

main {
    display: flex;
    flex: 19;
    height: 80vh;
    justify-content: center;
    align-content: center;
}

div.matrix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

div.control {
    margin: 10px;
    width: 120px;
    height: 120px;
    background: #bbb;
    color: #222;
    box-shadow: #bbb 1px 1px 5px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.control i {
    font-size: 36pt;
}

div.control:hover {
    color: #444;
    cursor: pointer;
}

div.control:active {
    box-shadow: #bbb 1px 1px 7px;
}